.mainContainer {
  display: flex;
  gap: 5px;
  .glass {
    display: flex;
    width: 80vw;
    height: 90vh;
    max-width: 1596px;
    max-height: 936px;
    background: linear-gradient(
      108.98deg,
      rgba(255, 255, 255, 0.48) 0%,
      rgba(255, 255, 255, 0.12) 100%
    );
    backdrop-filter: blur(75px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 30px;
    .leftSection {
      padding: 72px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      height: 90vh;
      background: linear-gradient(
        108.98deg,
        rgba(255, 255, 255, 0.48) 0%,
        rgba(255, 255, 255, 0.12) 100%
      );
      backdrop-filter: blur(75px);
      -webkit-backdrop-filter: blur(6.5px);
      border-radius: 10px;
      border: 2px solid rgba(255, 255, 255, 0.18);
      border-radius: 30px;
      .user_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .profile_pic {
          width: 172px;
          height: 172px;
          border-radius: 50%;
          overflow: hidden;
        }
        .name {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: bold;
          font-size: 25px;
          line-height: 37px;
          /* identical to box height */

          color: #6287b6;
        }
        .designation {
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 27px;
          /* identical to box height */

          color: #6287b6;
        }
        .socialIcons {
          width: 100%;
          padding: 10px 25%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .s_icon:last-child {
            transform: translateY(3px);
          }
        }
      }
      .cta {
        width: 100%;
        padding: 10px 10%;
      }
    }
    .content {
      padding: 5%;
      width: 75%;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: none;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        height: 5px;
        border-radius: 5px;
        background: #b1b1b188;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #b1b1b1f1;
      }
    }
  }
  .sideSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sidebar_one {
    // box-sizing: border-box;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
      108.98deg,
      rgba(255, 255, 255, 0.48) 0%,
      rgba(255, 255, 255, 0.12) 100%
    );
    backdrop-filter: blur(75px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 30px;
    .item {
      position: relative;
      cursor: pointer;
      transition: margin 0.3s ease-in-out;
      margin: 0px 5px;
      width: 43px;
      height: 43px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      svg {
        filter: drop-shadow(2px 2px 2px rgba(181, 181, 181, 0.25));
      }
      background: transparent;
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent;
    }
    .tooltip {
      visibility: hidden;
      width: max-content;
      height: fit-content;
      background-color: rgba(0, 0, 0, 0.403);
      color: #fff;
      text-align: center;
      padding: 5px 10px;
      border-radius: 6px;

      /* Position the tooltip text - see examples below! */
      top: 5px;
      right: 105%;
      position: absolute;
      z-index: 3;
      &::after {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 100%; /* To the right of the tooltip */
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent rgba(0, 0, 0, 0.403);
      }
    }
    .item:hover .tooltip {
      visibility: visible;
    }
    .activeItem:hover .tooltip {
      visibility: visible;
    }
    .activeItem {
      cursor: pointer;
      background: transparent;
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent;
      transition: all 0.3s ease-in-out;
      margin: 5px;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
        108.98deg,
        rgba(255, 255, 255, 0.48) 0%,
        rgba(255, 255, 255, 0.12) 100%
      );
      backdrop-filter: blur(75px);
      -webkit-backdrop-filter: blur(6.5px);
      // border-radius: 10px;
      border: 2px solid rgba(255, 255, 255, 0.18);
      svg {
        filter: drop-shadow(2px 2px 2px rgba(181, 181, 181, 0.25));
      }
    }
  }
  .sidebar_two {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
      108.98deg,
      rgba(255, 255, 255, 0.48) 0%,
      rgba(255, 255, 255, 0.12) 100%
    );
    backdrop-filter: blur(75px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 30px;
    .item {
      width: 43px;
      height: 50px;
      cursor: pointer;
      transform: translateX(5px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
    }
    .item:last-child {
      transform: translateX(0);
    }
  }
}
