$glassBackground: linear-gradient(
  108.98deg,
  rgba(255, 255, 255, 0.208) 0%,
  rgba(255, 255, 255, 0.052) 100%
);
$glassBlur: blur(25px);

@mixin glassProperty {
  border: 3px solid rgba(255, 255, 255, 0.18);
  border-radius: 30px;

  background: $glassBackground;
  backdrop-filter: $glassBlur;
}

@mixin textStyle {
  font-family: 'Poppins';
  font-style: normal;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 5px 4px 4px rgba(168, 168, 168, 0.25);
}
