@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
div {
  outline: none;
}

.display {
  width: 100%;
  height: 100%;
}
.enter {
  transform: translateX(0);
  opacity: 1;
}
.enter-active {
  transform: translateX(250px);
  opacity: 0;
  transition: all 250ms;
}

.exit-done {
  transform: translateX(0);
  opacity: 1;
  transition: all 250ms;
}
.exit-active {
  transform: translateX(-250px);
  opacity: 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  .col_12 {
    grid-column: auto / span 12;
    margin-bottom: 10px;
  }
  .col_6 {
    grid-column: auto / span 6;
    &:nth-child(odd) {
      margin-right: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
    @media only screen and (max-width: 769px) {
      margin-right: 0;
      margin-top: 10px;
      grid-column: auto / span 12;
    }
  }
  .col_8 {
    grid-column: auto / span 8;
    &:nth-child(odd) {
      margin-right: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
    @media only screen and (max-width: 769px) {
      margin-right: 0;
      margin-top: 10px;
      grid-column: auto / span 12;
    }
  }
  .col_4 {
    grid-column: auto / span 4;
    &:nth-child(odd) {
      margin-right: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
    @media only screen and (max-width: 769px) {
      margin-right: 0;
      margin-top: 10px;
      grid-column: auto / span 12;
    }
  }
}
.circle {
  display: inline-block;
  background-color: orange;
  height: 15px;
  width: 15px;
  border-radius: 25px;
}
